{% extends 'base.html' %} {% block content %}

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/desaparecidos.css') }}" />
</head>

<section class="desaparecidos-custom py-5">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4 header">
      <h2 class="section-title">DESAPARECIDOS</h2>
      <div class="ordenar">
        <span>ORDENAR POR:</span>
        <strong>MAIS RECENTES</strong>
      </div>
    </div>

    <div class="row g-4">
      {% for desaparecido in desaparecidosDados %}
      <div class="col-md-6 col-lg-3">
        <div class="flip-card">
          <div class="flip-card-inner">


            <div class="flip-card-front">
              {% if desaparecido.imagem %}
              {% if desaparecido.origem == 'site' %}
              <img src="{{ url_for('static', filename='uploads/' + desaparecido.imagem) }}"
                alt="Foto de {{ desaparecido.nome }}">
              {% else %}
              <img src="http://localhost/apptcc/uploads/{{ desaparecido.imagem }}"
                alt="Foto de {{ desaparecido.nome }}">
              {% endif %}
              {% else %}
              <img src="{{ url_for('static', filename='img/imagem-nao-disponivel.png') }}" alt="Imagem não disponível">
              {% endif %}

              <div class="overlay-info">
                <h5 style="font-size: 20px;">{{ desaparecido.nome }}</h5>
                <p><strong>Último local visto:</strong> {{ desaparecido.localVisto }}</p>
                <p>
                  <strong>Última vez visto:</strong>
                  {% if desaparecido.vezVisto %}
                  {% if desaparecido.vezVisto is string %}
                  {{ desaparecido.vezVisto }}
                  {% else %}
                  {{ desaparecido.vezVisto.strftime('%d/%m/%Y às %H:%M') }}
                  {% endif %}
                  {% else %}
                  Não informado
                  {% endif %}
                </p>
              </div>
            </div>

            <div class="flip-card-back">
              <p><strong>Telefone para contato:</strong> {{ desaparecido.telefoneContato }}</p>
              <p><strong>Descrição:</strong> {{ desaparecido.descricao }}</p>
              <p>
                <strong>Última vez visto:</strong>
                {% if desaparecido.vezVisto %}
                {% if desaparecido.vezVisto is string %}
                {{ desaparecido.vezVisto }}
                {% else %}
                {{ desaparecido.vezVisto.strftime('%d/%m/%Y às %H:%M') }}
                {% endif %}
                {% else %}
                Não informado
                {% endif %}
              </p>

              <a href="{{ url_for('detalhe', id=desaparecido.id) }}" class="btn-detalhes">
                Ver mais detalhes
              </a>
            </div>

          </div>
        </div>
      </div>


      {% endfor %}
    </div>

  </div>
</section>
{% endblock content %}